asn1crypto==1.2.0
coincurve==13.0.0
dj-database-url==0.5.0
Django==3.0.14
ecdsa==0.14.1
eciespy==0.3.2
eth-hash==0.2.0
eth-keys==0.3.1
eth-typing==2.2.1
eth-utils==1.8.4
gunicorn==20.0.4
psycopg2-binary==2.8.4
pycryptodome==3.9.4
python-dateutil==2.8.0
pytz==2019.3
six==1.13.0
webencodings==0.5.1
whitenoise==5.0.1